body{
   
    font-family: Palatino Linotype, Times New Roman, Serif;
    background-color: #994411;
    margin: 0px;
    padding: 0px;


}

.leftSection{
    float: left;
    outline: none;
    background-color: #FFCC22;
    width:100%;
    height: 100%;
    padding: 15px;
    overflow: auto;
}
.hiddenAuthorForm{
    display: none;
}
.navigation{
    float: right;
    outline: solid 1px #000000;
    background-color: #CC0000;
    color: white;
    width: 25%;
    position: fixed;
    right: 0px;
    top: 100px;
}

a{
    text-decoration: none;
    font-size: 10;
    font-weight: bold;
    color: white;
}
.link {
    float: right;
    padding: 4px;
}
.delete{
    background-color: red;
    margin-left: 4px;
    margin-right: 10px;
}
.edit{
 background-color: orange;
}

a:hover{
    text-decoration: none;
    background-color: #FF9933;
}
.navigation a {
    text-decoration: none;
    color: white;
    font-size: 24;
}
ul{
list-style-type: none;
padding: 0px;
margin: 7px;
}
.navigation ul li:hover{
    background-color: #FF9933

}

.entityTable {
    display: table;
    width: 100%;
}
.entityTable thead, table.entityTable tbody {
    float: left;
    width: 100%;
    
}
.entityTable tbody {
  height: 100%;
}
.entityTable tr {
    width: 100%;
    display: table;
    text-align: left;
}
.odd {
    background-color: #FFEE77;
}
.entityTable th, table.entityTable td {
    width: 33%
}
