body{
    margin: 0;
}

body.leftSection{
    float: left;
    outline: solid 1px red;
    background-color: green;
    width: 350px;
}
body.rigthSection{
    float: right;
    outline: solid 1px #000000;
    background-color: #66CC00;
    width: 100px;
}

table.entitiesTable {
    display: table;
    width: 100%;
}
table.entitiesTable thead, table.entitiesTable tbody {
    float: left;
    width: 100%;
    
}
table.entitiesTable tbody {
    overflow: auto;
    height: 400px;
}
table.entitiesTable tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.entitiesTable th, table.entitiesTable td {
    width: 33%
}
