body{
    margin: 0;
}

body.leftSection{
    float: left;
    outline: solid 1px red;
    background-color: green;
    width: 350px;
}
body.rigthSection{
    float: right;
    outline: solid 1px #000000;
    background-color: #66CC00;
    width: 100px;
}

table.booksTable {
    display: table;
    width: 100%;
}
table.booksTable thead, table.booksTable tbody {
    float: left;
    width: 100%;
    
}
table.booksTable tbody {
    overflow: auto;
    height: 400px;
}
table.booksTable tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.booksTable th, table.booksTable td {
    width: 33%
}
