{%extends 'base.html'%}
{%block data%}
    <table class="entityTable">
        <thead>
            <tr>
                <th> Book title <a class = "hidden" id = "addNew" data-ref = "add/book" href = {{url_for('add', instance = "book")}}> Add new Book</a></th>
                <th> Book Author(s) </th>
            </tr>
        </thead>
        <tbody class="entityTableBody">
            {%for obj in entities_list%}
                {% set class = loop.cycle('odd', 'even')%}
                {%include 'partial/book.html'%}
            {%endfor%}
        </tbody>
    </table>
{%endblock%}