{%extends 'base.html'%}
{%block data%}
    <table class="entityTable">
        <thead>
            <tr>
                <th> Book title <input type="button" class = "hidden" value = "New Book" id = "addNew" data-ref = "add/book"></th>
                <th> Book Author(s) </th>
            </tr>
        </thead>
        <tbody class="entityTableBody">
            <tr class = "even">
                <td> <div class="hidden even" id="addForm"> </div></td>
            </tr> 
            {%for book in entities_list%}
                {%include 'partial/book.html'%}
            {%endfor%}
        </tbody>
    </table>
{%endblock%}