{%extends "base.html"%}
{%block form %}

{%if error%}
<h1> {{error}}</h1>
{%endif%}
<form class="form" method="POST" action="/add_book">

  <p><div> {{form.title.label}}:{{form.title(class_='title')}} </div></p>
  <p><div> {{form.author.label}}: {{form.author(class_='author')}} </div></p>
  <p><div> <input type="submit" value="Add Book" ></p>
  <P> <button class="button" type="button"> Submit via ajax </button>
  
  {{form.scrf_token}}

</form>

<script>
      $(document).ready(function(){
          $(".button").click(function(event){
            var data = $(jQuery(".form")).serializeArray()
            console.log(data);
            $.ajax({
              type: "POST",
              url: "/add_book",
              data: data,
              success: function(response){console.log(response)}
            });
        });
        });
</script>


{%endblock%}