<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {#<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>#}
    <div id="header">
      {%if title %}
        <title> {{title}} Library </title>
      {%else%}
        <title> Welcome to The Library </title>
      {% endif %}
    </div>
  </head>
<body>
{%include 'search.html'%}
  <div class="mainSection">
  <div class="leftSection">
   
  {% if entities_list%}
    {% include entities_list[0].pluralize()+'.html' %}
  {%endif%}
  
  </div>

</div>

{#<script src="static/script.js"></script>#}

</body>
</html>