 {%for book in entities_list%}
 <tr class="row_{{book.id}} {{loop.cycle("odd", "even")}}">
          <td> {{book.title}} 
                 <a class="delete" href={{url_for('delete', instance=book.introduce().lower(), obj_id = book.id)}}>DEL</a>   <a class="edit" href={{url_for('edit', instance = book.introduce().lower(), obj_id = book.id)}}>EDIT</a> </td> 
          <td> <ul>{%for author in book.author%}
                <li>{{author.name}}</li>
                    {%endfor%} </ul></td></tr>
                    {%endfor%}